{% extends '@FOSUser/fos_layout.html.twig' %}

{% block fos_user_content %}
	<div class="modal fade in show" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<h4 class="modal-title">PhAdDb Planner :: Востановление пароля</h4>
					<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal">
						<div class="row">
							<div class="col-sm-8 col-sm-offset-2 ">
								<label>Введите ваш Email</label>
								<input type="email" class="form-control" id="" placeholder="Введите ваш Email" name="username" required="required">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8 col-sm-offset-2 ">
								{% if invalid_username is defined %}
									<p class="error">
										Email %username% не существует.
									</p>
								{% endif %}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8 col-sm-offset-2 ">
								<div class="text-right">
									<button type="submit" class="btn btn-primary">Востановить</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


{% endblock fos_user_content %}
