{% extends '@App/layout.html.twig' %}

{% block title %}Добавление / изменение пользователя{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#">Главная</a></li>
        <li><a href="{{ path('user_list') }}">Список пользоватлей</a></li>
        <li class="active">Добавление / изменение пользователя</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-8">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

